<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes tools</h2>
      <p>Mise à jour {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
      <ul class="list-group">
        <app-tool *ngFor="let appareil of appareils"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"></app-tool>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
